<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.6.0.js"></script>
</head>
<body>
<div align="center" id="{{img_id}}">
    <img align="center" style="width:600px" src="data:;base64,{{ img_stream }}">
    <!--<div class="col-md-10 img-main" id="img" style="background: url('http://192.168.3.85:8080/api/annotation/sample?index=1') no-repeat left top;">&nbsp;</div>-->
</div>
<script>
    /*window.onload=function(){
        alert("ni")
        $.get('http://192.168.3.85:8080/img')
    }*/

</script>
</body>
</html>